@{
    Layout = "_Dashboard";
}
@section Scripts 
{
    <script src="@Url.Content("~/assets/vendor_components/datatable/datatables.min.js")"></script>
    <script src="@Url.Content("~/assets/js/pages/data-table.js")"></script>
    }
@section Styles 
{
    <link rel="stylesheet" href="@Url.Content("~/assets/vendor_components/datatable/datatables.min.css")">
    }
<div class="col-12">
    <div class="box">
        <div class="box-header with-border">
            <h3 class="box-title">گروه‌ها</h3>
            <button class="btn btn-success" onclick="location.href='@Url.Action("AddGroup")'">افزودن گروه جدید</button>
        </div>
        <!-- /.box-header -->
        <div class="box-body">
            <div class="table-responsive">
                <table id="example1" class="table table-striped table-hover no-wrap product-order" data-page-size="10">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>نام</th>
                            <th>گروه</th>
                            <th>ایکون</th>
                            <th>عملیات</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>1</td>
                            <td>دکانت</td>
                            <td></td>
                            <td>
                                <i data-feather="database"></i>
                            </td>
                            <td>
                                <a href="javascript:void(0)" class="text-info me-10" data-bs-toggle="tooltip" data-bs-original-title="ویرایش">
                                    <i class="ti-marker-alt"></i>
                                </a>
                                <a href="javascript:void(0)" class="text-danger" data-bs-original-title="حذف" data-bs-toggle="tooltip">
                                    <i class="ti-trash"></i>
                                </a>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <!-- /.box-body -->
    </div>
</div>